<?xml version="1.0" encoding="utf-8" ?>
<Application Name="SiteMapModule"
	HasSettings="false"
    Icon="~/WebModules/Admin/Images/icons/small/Module.gif" 
    Description="">
  <Modules>
    <Module Name="Site Map"
		UserCanAddModule="true"
		Icon="~/WebModules/Admin/Images/icons/small/Module.gif"
        Description="Displays a hierarchical view of the site's pages."
        ControlPath="~/WebModules/SiteMapModule/Display.ascx"
        AddPath="~/WebModules/SiteMapModule/Edit.aspx"
        EditPath="~/WebModules/SiteMapModule/Edit.aspx" 
        />
  </Modules>
</Application>
