html
{
    /* always show firefox scrollbar, to prevent horizontal shift. */
    overflow: -moz-scrollbars-vertical;
}

/* PNG fix for IE 6.
   target IE 6 and below by using the underscore hack. see: http://www.ejeliot.com/blog/63 */
img, div, td, a
{
    _behavior: url(/client/iepngfix.htc);
}

body
{
    margin: 0 0 10px 0;
    background: url("Images/wm_admin_background.gif") white top repeat-x;
}

body, td
{
    font-family: Verdana;
    font-size: 13px;
}

td
{
    vertical-align: top;
    font-size: 12px;
}

th
{
    text-align: left;
}

/* Page header */
/*#Header
{
    width: 767px;
    height: 70px;
    text-align: right;
    vertical-align: top;
    background: url("Images/Header1000.jpg") no-repeat;
    font-size: 85%;
}*/

#HeaderText
{
    padding-right: 10px;
}

.wm_loginName
{
    font-family: Trebuchet MS;
    font-size: 16pt;
    letter-spacing: -1pt;
    font-weight: bold;
    color: #005183;
}


/* Primary nav */


    .PrimaryNavigationLink:hover, a.SelectedNavigationLink
    {
        background-color: #FFFFFE;
        color: #4D4D4D;
    }

#LogoutLink
{
    color: #005183;
}


/* Breadcrumbs */

.BreadcrumbLink, .BreadcrumbLink:visited {
    color: #fff;
    font-size: 15px;
}

/* Title Bars */
.TitlebarLeft
{
    background: url("Images/Titlebar_Left.gif") right no-repeat;
    width: 7px;
    height: 19px;
}

.TitlebarMiddle
{
    background: url("Images/Titlebar_Middle.gif") repeat-x;
    height: 19px;
    color: #005183;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
    width: 100%;
}

.TitlebarRight
{
    background: url("Images/Titlebar_Right.gif") left no-repeat;
    width: 7px;
    height: 19px;
}

.TitlebarBody
{
    background-color: #e7f3f8;
}

/* Content Body */
#ContentBody
{
    background-color: White;
    padding: 0px;
}

a {
    color: #276f22; /* #56B9D9 */
}

  
    a:hover
    {
        color: #004e7a; /* #A2D7E6 */
    }

.PageTitle
{
    font-family: Trebuchet MS;
    color: #56B9D9;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

    .PageTitle:hover
    {
        color: #0079be; /* #A2D7E6 */
    }

/*a.disabled, a.disabled:link, a.disabled:visited, a.disabled:hover
{
    color: gray;
}*/

/* this makes a nice single-pixel dotted line in 
ALL browsers (IE, Firefox, Chrome, Safari).
The white borders are needed to clear out the default
hr gutter border. */
hr
{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px #C0C2C4 dotted;
    height: 1px;
}

/* Icons */
.icon
{
    vertical-align: middle;
    border: 0px;
    padding-right: 5px;
    float: left;
}



/* misc */

.unselected
{
    border-right: 1px #cccccc solid;
}

.selected, .unselected
{
    padding: 7px;
}

.selected
{
    padding-left: 20px;
}

.separator
{
    height: 1px;
    background-color: #cccccc;
}



/*admin forms*/
/*.label_td
{
    padding: 6px 1em 6px 0;
    vertical-align: top;
}*/

/*.input_td
{
    padding: 6px 0;
    vertical-align: top;
}*/


/* Authorize.Net Admin */
.authnet
{
    /*width: 80%;
    margin: auto;*/
    padding: 5px 10px;
}



.field
{
    width: 50%;
    float:left;
}

.value
{
    width: 79%;
}
/* End Authorize.Net Admin */

.hccmenu, .hccsubmenu
{
    background-color: Green;
    color: White;
}

.hccmenuitem, .hccsubmenuitem
{
    color: White !important;
    font-weight: bold;
    display: inline-block;
    padding: 4px;
}

.hcc_admin_ctrl
{
    padding: 2px;
}

    .hcc_admin_ctrl .fieldRow
    {
        vertical-align: top;
        padding-top: 2px;
    }

    .hcc_admin_ctrl .fieldCol
    {
        width: 99% !important;
        vertical-align: top;
        display: inline-block;
    }

    .hcc_admin_ctrl .list
    {
        width: 100%;
        border: 1px solid #888;
        border-spacing: 0;
        border-collapse: collapse;
    }

        .hcc_admin_ctrl .list .rowHeader
        {
            background-color: #aaa;
            cursor: pointer;
        }

        .hcc_admin_ctrl .list .rowMain
        {
            background-color: #eee;
            cursor: pointer;
        }

        .hcc_admin_ctrl .list .rowAlt
        {
            background-color: #ccc;
            cursor: pointer;
        }

    

        .hcc_admin_ctrl input[type=submit]:active
        {
            position: relative;
            top: 1px;
        }
/* This imageless css button was generated by CSSButtonGenerator.com */

.dataPager_currentIndex
{
    color: #0084cc;
    font-weight: bold;
}

.watermark
{
    color: #aaa;
}



    table.nutritionalData tr td
    {
        padding: 3px;
        margin: 2px;
    }

span.fieldLabel
{
    display: inline-block;
    width: 120px;
    text-align: right;
    margin: auto 3px auto auto;
}

.measurement
{
    font-size: 8px;
    color: Gray;
}

a.jqLink
{
    cursor: pointer;
}

.ui-datepicker {
    /*width: 12em;*/
    padding: .2em .2em 0;
    display: none;
    width: auto;
}

    .ui-datepicker table {
        width: 100%;
        font-size: .7em;
        border-collapse: collapse;
        margin: 0 0 .4em;
        background: #fff;
    }

    .ui-datepicker .ui-datepicker-header {
        background: #fff !important;
    }

.selectedRow
{
    border: 1px solid #ccc;
    background-color: #eee;
}

/*******************************************/
/* Begin Collapsible Panel */
.cpHeader
{
    color: white;
    background-color: #333;
    font: bold 11px auto "Trebuchet MS", Verdana;
    font-size: 12px;
    cursor: pointer;
    height: 18px;
    padding: 2px;
}

.cpBody
{
    background-color: #fff;
    border: solid 1px #333;
    font: normal 11px auto Verdana, Arial;
}
/* End Collapsible Panel */

.updateProgressContainer
{
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #333;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 1000;
}

.updateProgressDisplay
{
    display: none;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 30%;
    left: 43%;
    padding: 10px;
    width: 300px;
    height: 200px;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
}

.cvvContainer
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #333;
    filter: alpha(opacity=90);
    opacity: 0.9;
    z-index: 1000;
}

.cvvDisplay
{
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 10%;
    left: 25%;
    padding: 10px;
    width: 600px;
    height: 600px;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=100);
    opacity: 1.0;
    overflow:scroll;
}
