<?xml version="1.0" encoding="utf-8"?>
<!-- Default Web.Config is stored in %windir%\Microsoft.NET\Framework\v2.0.50727\CONFIG. -->
<configuration>
  <configSections>
    <!-- ASP.NET AJAX -->
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="AuthNetConfig" type="HealthyChef.AuthNet.AuthNetConfigSection" restartOnExternalChanges="true" allowDefinition="MachineToApplication" requirePermission="false" />
    <section name="ZipToTaxConfig" type="ZipToTaxService.ZipToTaxConfigSection" restartOnExternalChanges="true" allowDefinition="MachineToApplication" requirePermission="false" />
    <section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FCKeditor:UserFilesPath" value="~/userfiles/" />
    <add key="FormBuilder_UploadDirectory" value="~/userfiles/formbuilder_submissions/" />
    <add key="FormBuilder_MaxResponseDisplayColumns" value="6" />
    <add key="FormValidation_DontUseSessionVariable" value="false" />
    <add key="FormValidation_DontUseDummyFields" value="false" />
    <add key="FormValidation_DontValidateReferrer" value="false" />
    <add key="EmailNewOrderMerchantToAddress" value="rread@bayshoresolutions.com;" />
    <add key="AdministratorEmails" value="rread@bayshoresolutions.com;" />
    <add key="IsDownTime" value="False" />
    <!-- True/False-->
  </appSettings>
  <connectionStrings>
    <!--<add name="WebModules" connectionString="data source=Will-XPS;initial catalog=healthychef_live;user id=healthychef_user;password=healthychef_user;" providerName="System.Data.SqlClient"/>
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Will-XPS;initial catalog=healthychef_live;user id=healthychef_user;password=healthychef_user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFD01;initial catalog=healthychefcreations_new;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=healthychefcreations_new;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="WebModules" connectionString="data source=RS-11-90\SQLEXPRESS;initial catalog=LiveHealthychefcreations;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=liveHealthychef;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add nam2e="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RS-11-90\SQLEXPRESS;initial catalog=LiveHealthychefcreationsAPI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Production Connection String-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Dev connection string-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Local connection string  -->
    <!--<add name="WebModules" connectionString="Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;multipleactiveresultsets=True; application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="WebModules" connectionString="Data Source=DESKTOP-RB3EQ0V\SQLEXPRESS;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-RB3EQ0V\SQLEXPRESS;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;multipleactiveresultsets=True; application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!-- <add name="WebModules" connectionString="data source=VA1ZYWWHECHFD01;initial catalog=liveHealthychef;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=liveHealthychef;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <AuthNetConfig name="DevRyanTestAccount" apiKey="82RUfZkt3r" transactionKey="449k472AxEyP9R6k" testMode="True" />
  <!--<AuthNetConfig name="HCCAcount" apiKey="6G62rq47Ey" transactionKey="778JzcBsN8k274bX" testMode="False" />-->
  <ZipToTaxConfig server="db.Zip2Tax.com" dbUsername="z2t_link" dbPassword="H^2p6~r" dbName="zip2tax" loginUserName="lnk_healthyc" loginUserPassword="ch!w2an" />
  <SubSonicService defaultProvider="WebModules">
    <providers>
      <clear />
      <add name="WebModules" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="WebModules" generatedNamespace="Model" fixPluralClassName="false" removeUnderscores="false" />
    </providers>
  </SubSonicService>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- Force sessionState in case host has it disabled. (FCKeditor requires sessionState.) -->
    <sessionState mode="InProc" timeout="120" />
    <!-- Max upload size and request timeout (this is relevant only if compilation debug="false"). -->
    <httpRuntime maxRequestLength="20480" executionTimeout="1200" />
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.aspx">
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
    </customErrors>-->
    <customErrors mode="Off" defaultRedirect="~/ErrorPage.aspx">
      <!--<error statusCode="403" redirect="~/ErrorPage.aspx?errorCode=403" />-->
      <error statusCode="404" redirect="~/ErrorPage.aspx?errorCode=404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Image.ashx" verb="*" type="BayshoreSolutions.WebModules.Handlers.ThumbHandler" />
      <add path="Sitemap.ashx" verb="GET,HEAD" type="BayshoreSolutions.WebModules.Handlers.SitemapHandler" />
      <add path="slideshowimagehandler.ashx" verb="*" type="BayshoreSolutions.WebModules.SlideShow.ImagesXml" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorModule" type="BayshoreSolutions.WebModules.ErrorModule" />
      <add name="UrlMapper" type="BayshoreSolutions.WebModules.UrlMapper" />
      <!-- ASP.NET AJAX -->
    </httpModules>
    <siteMap defaultProvider="WebModulesSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="WebModulesSiteMapProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="Auto" />
        <add name="WebModulesSiteMapFullProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="All" />
        <add name="WebModulesSiteMapLimitedProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="Visible" />
        <add name="WebModulesSiteMapProviderHack" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="All" enableRootOverride="true" />
        <add name="HealthyChefAdmin_XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="/Templates/WebModules/Admin.sitemap" description="" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="30">
      <providers>
        <!-- 
            Don't forget to <clear/> when adding providers.
            see: http://weblogs.asp.net/scottgu/archive/2006/11/20/common-gotcha-don-t-forget-to-clear-when-adding-providers.aspx
            -->
        <clear />
        <!--  
            Always set the "applicationName" property. 
            see: http://weblogs.asp.net/scottgu/archive/2006/04/22/Always-set-the-_2200_applicationName_2200_-property-when-configuring-ASP.NET-2.0-Membership-and-other-Providers.aspx
            -->
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebModules" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" applicationName="/healthychef" maxInvalidPasswordAttempts="7" passwordAttemptWindow="30" />
      </providers>
    </membership>
    <anonymousIdentification enabled="true" cookieless="UseCookies" cookieName=".ASPXANONYMOUS" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" />
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="WebModules" applicationName="/healthychef" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms timeout="30" loginUrl="~/AdminLogin.aspx" path="/" cookieless="UseCookies" slidingExpiration="true" defaultUrl="/default.aspx" />
    </authentication>
    <profile enabled="true" defaultProvider="SqlProfileProvider">
      <providers>
        <clear />
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="WebModules" applicationName="/healthychef" description="WebModules SqlProfileProvider" />
      </providers>
      <properties>
        <add name="FirstName" type="System.String" />
        <add name="LastName" type="System.String" />
        <add name="StartPageId" type="System.Int32" />
        <add name="EnableCmsButtons" type="System.Boolean" defaultValue="true" />
      </properties>
    </profile>
    <!--
      Auto culture mapping 
      http://msdn.microsoft.com/msdnmag/issues/05/02/WickedCode/
      http://west-wind.com/WebLog/posts/7327.aspx
      http://west-wind.com/WebLog/posts/8485.aspx
        
        requestEncoding="utf-8" 
        responseEncoding="utf-8" 
      -->
    <globalization culture="auto" uiCulture="auto" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="bss" namespace="BayshoreSolutions.Common.Web.UI.WebControls" assembly="BayshoreSolutions.Common" />
        <add tagPrefix="bss" tagName="QuickContent" src="~/WebModules/QuickContent/ContentArea.ascx" />
        <!-- ASP.NET AJAX -->
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagPrefix="rsweb" />
      </controls>
      <namespaces />
    </pages>
    <!--
      ASP.NET 2.0 Health Monitoring
      http://msdn2.microsoft.com/en-us/library/ms998306.aspx
      http://fredrik.nsquared2.com/viewpost.aspx?PostID=107&showfeedback=true
      -->
    <healthMonitoring enabled="true">
      <eventMappings>
        <add name="WebModulesAuditEvent" type="BayshoreSolutions.WebModules.WebModulesAuditEvent" />
      </eventMappings>
      <providers>
        <!--
              - For custom email format, use System.Web.Management.TemplatedMailWebEventProvider.
              - Set buffer="false" if you want events to log immediately. 
              -->
        <add name="MailEventProvider" type="System.Web.Management.SimpleMailWebEventProvider" from="no-reply@bayshoresolutions.com" to="no-reply@bayshoresolutions.com" bodyHeader="" bodyFooter="" subjectPrefix="[HealthyChef] " buffer="true" bufferMode="Notification" maxEventLength="4096" maxMessagesPerNotification="20" />
        <remove name="SqlWebEventProvider" />
        <add name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" connectionStringName="WebModules" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" />
      </providers>
      <rules>
        <!-- By default, ASP.NET handles an eventName "Failure Audits" which is sent to the EventLog. -->
        <remove name="Failure Audits Default" />
        <!-- 
              A rule is applied exactly once per minInterval (e.g., if minInterval=15 and 
              multiple exceptions occur during a 15-second interval, only one will be logged).
              -->
        <remove name="Request Processing Errors" />
        <add name="Request Processing Errors" eventName="Request Processing Errors" provider="MailEventProvider" profile="Default" minInterval="00:00:01" />
        <remove name="All Errors Default" />
        <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInterval="00:00:01" />
        <add name="WebModules Event" eventName="WebModulesAuditEvent" provider="SqlWebEventProvider" profile="Default" minInterval="00:00:01" />
      </rules>
      <!-- 
      maxBufferSize: maximum number of events in queue.
      maxFlushSize: maximum number of events per flush.
      -->
      <bufferModes>
        <remove name="Notification" />
        <add name="Notification" maxBufferSize="20" maxFlushSize="20" urgentFlushThreshold="20" regularFlushInterval="01:00:00" urgentFlushInterval="00:10:00" maxBufferThreads="1" />
      </bufferModes>
    </healthMonitoring>
    <caching>
      <!--
      This setting is needed only if the application is load-balanced on multiple web servers 
      *and* the database is SQL Server 2000 (not SQL Server 2005). WebModules automatically 
      manages the cache, without sqlCacheDependency, for single-application environments. 
      For a load-balanced environment with SQL Server 2005, see WEBMODULES_README.txt.
      -->
      <sqlCacheDependency enabled="false">
        <databases>
          <add name="WebModules" connectionStringName="WebModules" pollTime="1000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <location path="WebModules">
    <system.web>
      <authorization>
        <allow roles="Administrators, EmployeeManager, EmployeeService, EmployeeProduction" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebModules/ShoppingCart/Admin/AccountManager.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, EmployeeManager, EmployeeService" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- ASP.NET AJAX -->
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="noreply@healthychefcreations.com" deliveryMethod="Network">
        <network host="127.0.0.1" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>

    <!--<defaultDocument enabled="true">
      <files>
        <clear />
        <add value="AdminLogin.aspx" />
      </files>
    </defaultDocument>-->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".aspx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>

    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <!-- ASP.NET AJAX -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- <remove name="Helicon.Ape" /> -->
      <add name="ErrorModule" type="BayshoreSolutions.WebModules.ErrorModule" />
      <add name="SitemapRewrite" type="BayshoreSolutions.WebModules.SitemapRewriteModule" preCondition="integratedMode" />
      <add name="UrlMapper" type="BayshoreSolutions.WebModules.UrlMapper" preCondition="classicMode" />
      <add name="UrlMapperIntegrated" type="BayshoreSolutions.WebModules.UrlMapperIntegrated" preCondition="integratedMode" />
      <add name="KeywordTokens" type="BayshoreSolutions.WebModules.KeywordTokens.KeywordTokenModule" />
      <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
      <!-- <add name="Helicon.Ape" type="Helicon.Ape.ApeModule, Helicon.Ape, Version=3.1.0.134, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" />-->
      <!-- ASP.NET AJAX -->
    </modules>
    <handlers>
      <remove name="ImageHandler" />
      <!--            <add name="Helicon.Ape Handler" path="*.apehandler" verb="*" type="Helicon.Ape.Handler, Helicon.Ape, Version=3.1.0.134, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" resourceType="Unspecified" preCondition="integratedMode" /> -->
      <add name="ImageHandler" verb="*" path="Image.ashx" type="BayshoreSolutions.WebModules.Handlers.ThumbHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Sitemap" verb="GET,HEAD" path="Sitemap.ashx" type="BayshoreSolutions.WebModules.Handlers.SitemapHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- ASP.NET AJAX -->
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <!-- /ASP.NET AJAX -->
      <!-- add this line to support IIS7 -->
      <add name="slideshow" verb="*" path="slideshowimagehandler.ashx" type="BayshoreSolutions.WebModules.SlideShow.ImagesXml" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!-- ASP.NET AJAX -->
  <securitySwitch mode="RemoteOnly" bypassSecurityWarning="true">
    <paths>
      <!--<add path="~/login.aspx" />
      <add path="~/cart.aspx" />
      <add path="~/cart/order-confirmation.aspx" />
      <add path="~/WebModules/" />-->
      <add path="~/App_Themes/" security="Ignore" />
      <add path="~/client/" security="Ignore" />
      <add path="~/userfiles/" security="Ignore" />
      <!--<add path="~/Login.aspx" />
      <add path="~/Account/Login.aspx" />
      <add path="~/Account/LogOn/" />
      <add path="~/my-profile.aspx" />-->
      <add path="~/cvv.html" security="Ignore" />
    </paths>
  </securitySwitch>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>