<?xml version="1.0" encoding="utf-8" ?>
<Application Name="Slide Show"
    HasSettings="false" 
    Description=""
    Icon="~/WebModules/SlideShow/public/images/pictures.png"
>
    <Modules>
    <Module Name="Slide Show (Flex SlideShow)"
            UserCanAddModule="true"
            Description="Displays images with a fade effect and clickable navigation."
            ControlPath="~/WebModules/SlideShow/FlexSlideShow/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
      />
      
		<!-- The javascript slide show using jquery and jcarousel. - ->
		<Module Name="Slide Show (Sliding jQuery)"
            UserCanAddModule="true"
            Description="Displays images with a sliding transition effect."
            ControlPath="~/WebModules/SlideShow/JCarouselSlideShow/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
        />
		
		<!- - The javascript text slide show using jquery and jcarousel. - ->
		<Module Name="Slide Show (Sliding jQuery WYSIWYG)"
            UserCanAddModule="true"
            Description="Displays text with a sliding transition effect."
            ControlPath="~/WebModules/SlideShow/JCarouselTextSlideShow/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
        />

        <!- - The javascript gallery using jquery and galleryview. - ->
        <Module Name="Slide Show (Image Gallery)"
            UserCanAddModule="true"
            Description="Displays image gallery."
            ControlPath="~/WebModules/SlideShow/GalleryView/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
        />
		
        <!- - The javascript slide show is the "normal" slide show. - ->
        <Module Name="Slide Show"
            UserCanAddModule="true"
            Description="Displays images with a fade transition effect."
            ControlPath="~/WebModules/SlideShow/JsSlideShow/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
        />
        
        <!- - The flash slide show is offered as an alternative, to support
             fancy things like flash button overlays. - ->
        <Module Name="Slide Show (Flash)"
            UserCanAddModule="true"
            Description="Displays images using a special Flash file."
            ControlPath="~/WebModules/SlideShow/FlashSlideShow/Display.ascx"
            AddPath="~/WebModules/SlideShow/Edit.aspx"
            EditPath="~/WebModules/SlideShow/Edit.aspx"
            Icon="~/WebModules/SlideShow/public/images/pictures.png"
        />
        -->
    </Modules>
</Application>
