<?xml version="1.0" encoding="utf-8" ?>
<Application Name="Content Module" HasSettings="true"  Icon="~/WebModules/ContentModule/Images/Edit.gif" Description="">
  <Modules>
    <Module Name="Content" 
      Icon="~/WebModules/ContentModule/Images/Edit.gif" 
      Description="Rich text editor"
      ControlPath="~/WebModules/ContentModule/ContentDisplay.ascx" 
      AddPath="~/WebModules/ContentModule/Edit.aspx" 
      EditPath="~/WebModules/ContentModule/Edit.aspx" />
  </Modules>
</Application>