<?xml version="1.0" encoding="utf-8" ?>
<Application Name="MasterDetail"
    HasSettings="false" 
    Description=""
>
    <Modules>
        <Module Name="Master Detail List"
            UserCanAddModule="true"
            Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
            Description="Displays a summary master list and detail item pages.  Ideal for Press Releases, Case Studies, Bios, Articles."
            Path="~/WebModules/MasterDetail/" 
            ControlPath="SummaryDisplay.ascx"
            AddPath="SummaryEdit.aspx"
            EditPath="SummaryEdit.aspx"
        />
        <Module Name="Master Detail Item"
            UserCanAddModule="false"
            Description=""
            Path="~/WebModules/MasterDetail/"
            ControlPath="DetailDisplay.ascx"
            AddPath="DetailEdit.aspx"
            EditPath="DetailEdit.aspx"
        />
		<Module Name="Master Detail Mini Summary"
            UserCanAddModule="true"
            Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
            Description="Uses the Master Detail List to display a condensed summary of Featured or Most Recent items.  Ideal for display on a homepage."
            Path="~/WebModules/MasterDetail/"
            ControlPath="MiniSummaryDisplay.ascx"
            AddPath="MiniSummaryEdit.aspx"
            EditPath="MiniSummaryEdit.aspx"
        />
	</Modules>
</Application>
