<?xml version="1.0" encoding="utf-8" ?>
<Application Name="Shopping Cart"
             HasSettings="False"
             Icon="~/WebModules/ShoppingCart/images/cart.jpg"
             Description="Manage products, services, and orders.">
  <Modules>
   
    <Module Name="Menu Items By Date"
        UserCanAddModule="true"
        Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
        Description="Displays available menu items based on delivery date selections."
        ControlPath="~/WebModules/ShoppingCart/Controls/MenuItemsByDate.ascx"
        AddPath="~/WebModules/ShoppingCart/Controls/Edit.aspx"
        EditPath="~/WebModules/ShoppingCart/Controls/Edit.aspx" />

    <Module Name="Programs Display"
            UserCanAddModule="true"
            Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
            Description="Displays available meal programs."
            ControlPath="~/WebModules/ShoppingCart/Controls/ProgramsDisplay.ascx"
            AddPath="~/WebModules/ShoppingCart/Controls/Edit.aspx"
            EditPath="~/WebModules/ShoppingCart/Controls/Edit.aspx" />
    
    <Module Name="Client User Profile Display"
        UserCanAddModule="true"
        Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
        Description="Displays an editable form containing the currently logged-in user's profile."
        ControlPath="~/WebModules/ShoppingCart/Controls/UserProfileClientDisplay.ascx"
        AddPath="~/WebModules/ShoppingCart/Controls/Edit.aspx"
        EditPath="~/WebModules/ShoppingCart/Controls/Edit.aspx" />

    <Module Name="Cart Module"
       UserCanAddModule="true"
       Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
       Description="Shows the cart for the currently logged-in user."
       ControlPath="~/WebModules/ShoppingCart/Controls/Cart/CartModule.ascx"
       AddPath="~/WebModules/ShoppingCart/Controls/Edit.aspx"
       EditPath="~/WebModules/ShoppingCart/Controls/Edit.aspx" />

    <Module Name="Gift Certificate Module"
       UserCanAddModule="true"
       Icon="~/WebModules/Admin/Images/Icons/Small/Module.gif"
       Description="Shows the add a gift certificate module."
       ControlPath="~/WebModules/ShoppingCart/Controls/GiftCertificateAddControl.ascx"
       AddPath="~/WebModules/ShoppingCart/Controls/Edit.aspx"
       EditPath="~/WebModules/ShoppingCart/Controls/Edit.aspx" />

  </Modules>
</Application>