<?xml version="1.0" encoding="utf-8" ?>
<!-- optional attributes:
     Icon="~/WebModules/AuthorizeNet/client/images/module.gif" 
-->
<Application Name="Authorize.Net"
    HasSettings="true" 
    Description="Authorize.net Settings"
    Icon="~/WebModules/AuthNetModule/public/images/Authnet.png"
>
</Application>
