<?xml version="1.0" encoding="utf-8" ?>
<Application Name="Security Modules"
             HasSettings="True"
             Icon="~/WebModules/Security/Images/Security.gif"
             Description="">
    <Modules>
        <Module Name="Login"
            UserCanAddModule="true"
            Icon="~/WebModules/Security/Images/Security.gif"
            Description="A login prompt"
            ControlPath="~/AdminLogin.aspx"
            AddPath="~/WebModules/Security/Login/Edit.aspx"
            EditPath="~/WebModules/Security/Login/Edit.aspx" />
        <Module Name="Password Recovery"
            UserCanAddModule="true"
            Icon="~/WebModules/Security/Images/Security.gif"
            Description="Forgotten password recovery form"
            ControlPath="~/WebModules/Security/PasswordRecovery/PasswordRecoveryDisplay.ascx"
            AddPath="~/WebModules/Security/PasswordRecovery/Edit.aspx"
            EditPath="~/WebModules/Security/PasswordRecovery/Edit.aspx" />
       
        <!-- 
        The 'UserRegistration' module is disabled by default. To enable it, 
        set UserCanAddModule="true"; the CMS administrator can then create 
        a page that allows anonymous users to register.
        -->
        <Module Name="User Registration Form"
            UserCanAddModule="true"
            Icon="~/WebModules/Security/Images/Security.gif"
            Description="Displays a new user registration form."
            Path="~/WebModules/Security/UserRegistration/"
            ControlPath="~/WebModules/Security/UserRegistration/Display.ascx"
            AddPath="~/WebModules/Security/UserRegistration/Edit.aspx"
            EditPath="~/WebModules/Security/UserRegistration/Edit.aspx"/>
    </Modules>
</Application>