<?xml version="1.0" encoding="utf-8" ?>
<Application Name="File Manager"
    HasSettings="true"
    Icon="~/WebModules/FileManager/images/folder.gif" 
    Description="Manage files and folders.">

    <Modules>
        <Module Name="File List"
            UserCanAddModule="true"
            Icon="~/WebModules/FileManager/images/folder.gif" 
            Description="Displays a list of files and folders of a specified folder."
            ControlPath="~/WebModules/FileManager/FileList/Display.ascx"
            AddPath="~/WebModules/FileManager/FileList/Edit.aspx"
            EditPath="~/WebModules/FileManager/FileList/Edit.aspx"
            />
    </Modules>
</Application>
