<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <!--Production Connection String-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Dev connection string-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Local connection string  -->
    <add name="WebModules" connectionString="Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>