<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- ASP.NET AJAX -->
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <section name="AuthNetConfig" type="HealthyChef.AuthNet.AuthNetConfigSection" restartOnExternalChanges="true" allowDefinition="MachineToApplication" requirePermission="false" />
    <section name="ZipToTaxConfig" type="ZipToTaxService.ZipToTaxConfigSection" restartOnExternalChanges="true" allowDefinition="MachineToApplication" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <paypal>
    <settings>
      <add name="mode" value="live" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="Ab24wd27jdZjNmZVx6pVWUakYg_DntHI3Lz6_5yqcVWxufW-oalvrbNvGayRAngTdUw7uMwoomV2x9-7" />
      <add name="clientSecret" value="EPfNUji2elhQpxfvuJ-EjQwqtekw6VadrUutg2Ut-KwZbhJy-p-_kXNHX29b086tpbPk_lOkrDqFuvZ1" />
    </settings>
  </paypal>
  <connectionStrings>
    <!--Production Connection String-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFP01;initial catalog=LiveHealthychefcreations;user id=healthychef;password=eECElvz37c;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Dev connection string-->
    <!--<add name="WebModules" connectionString="data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VA1ZYWWHECHFD01;initial catalog=LiveHealthychefcreations;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Local connection string  -->
    
    <add name="WebModules" connectionString="Data Source=DESKTOP-RB3EQ0V\SQLEXPRESS;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-RB3EQ0V\SQLEXPRESS;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="WebModules" connectionString="Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;" providerName="System.Data.SqlClient" />
    <add name="healthychefEntities" connectionString="metadata=res://*/HCCModel.csdl|res://*/HCCModel.ssdl|res://*/HCCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.29.91;Network Library=DBMSSOCN;Initial Catalog=LiveHealthychefcreationsAPI;User ID=sa;Password=Roopa132@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <AuthNetConfig name="DevRyanTestAccount" apiKey="82RUfZkt3r" transactionKey="449k472AxEyP9R6k" testMode="True" />
  <ZipToTaxConfig server="db.Zip2Tax.com" dbUsername="z2t_link" dbPassword="H^2p6~r" dbName="zip2tax" loginUserName="lnk_healthyc" loginUserPassword="ch!w2an" />
  <appSettings>
    <add key="IsDownTime" value="False" />
    <add key="GoogleMerchandIdReview" value="114169608" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="EmailNewOrderMerchantToAddress" value="rread@bayshoresolutions.com;" />
    <add key="imagebaseurl" value="http://localhost:51117" />
    <add key="mode" value="live" />
    <add key="connectionTimeout" value="360000" />
    <add key="requestRetries" value="1" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="HealthyChefCreationsMVC" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  </appSettings>
  <SubSonicService defaultProvider="WebModules">
    <providers>
      <clear />
      <add name="WebModules" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="WebModules" generatedNamespace="Model" fixPluralClassName="false" removeUnderscores="false" />
    </providers>
  </SubSonicService>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <siteMap defaultProvider="WebModulesSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="WebModulesSiteMapProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="Auto" />
        <add name="WebModulesSiteMapFullProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="All" />
        <add name="WebModulesSiteMapLimitedProvider" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="Visible" />
        <add name="WebModulesSiteMapProviderHack" type="BayshoreSolutions.WebModules.SiteMapProvider" displayMode="All" enableRootOverride="true" />
        <add name="HealthyChefAdmin_XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="/Templates/WebModules/Admin.sitemap" description="" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="30">
      <providers>
        <!-- 
            Don't forget to <clear/> when adding providers.
            see: http://weblogs.asp.net/scottgu/archive/2006/11/20/common-gotcha-don-t-forget-to-clear-when-adding-providers.aspx
            -->
        <clear />
        <!--  
            Always set the "applicationName" property. 
            see: http://weblogs.asp.net/scottgu/archive/2006/04/22/Always-set-the-_2200_applicationName_2200_-property-when-configuring-ASP.NET-2.0-Membership-and-other-Providers.aspx
            -->
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebModules" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" applicationName="/healthychef" maxInvalidPasswordAttempts="7" passwordAttemptWindow="30" />
      </providers>
    </membership>
    <anonymousIdentification enabled="true" cookieless="UseCookies" cookieName=".ASPXANONYMOUS" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" />
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="WebModules" applicationName="/healthychef" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms timeout="30" loginUrl="~/login.aspx" path="/" cookieless="UseCookies" slidingExpiration="true" defaultUrl="/default.aspx" />
    </authentication>
    <profile enabled="true" defaultProvider="SqlProfileProvider">
      <providers>
        <clear />
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="WebModules" applicationName="/healthychef" description="WebModules SqlProfileProvider" />
      </providers>
      <properties>
        <add name="FirstName" type="System.String" />
        <add name="LastName" type="System.String" />
        <add name="StartPageId" type="System.Int32" />
        <add name="EnableCmsButtons" type="System.Boolean" defaultValue="true" />
      </properties>
    </profile>
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="noreply@healthychefcreations.com" deliveryMethod="Network">
        <network host="127.0.0.1" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
</configuration>