<?xml version="1.0" encoding="utf-8" ?>
<!-- optional attributes:
     Icon="~/WebModules/Admin/Images/icons/small/Module.gif" 
-->
<Application Name="FormBuilder"
    HasSettings="false" 
    Description=""
>
    <Modules>
        <!-- 
        Path="<absolute virtual path to the module directory>"
        
        ControlPath, AddPath, and EditPath may be relative to Path, or absolute.
        -->
        <Module Name="Simple Form"
            UserCanAddModule="true"
            Description="Build a generic form for users to fill out."
            Path="~/WebModules/FormBuilder/" 
            ControlPath="Controls/FormBuilderResponse_display.ascx"
            AddPath="Edit.aspx"
            EditPath="Edit.aspx"
        />
    </Modules>
</Application>
