@model  HealthyChefCreationsMVC.CustomModels.ProgramDetailsViewModel

<div class="col-title">This Week's Menus</div>
@if (Model.programdefaultmenudetails.Count > 0)
{
<div class="container" style="padding: 10px; margin:0;">
    @{
        if (Model.ProgramName != "HCG Diet")
        {
            @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultBreakfastMenuDetails, new ViewDataDictionary { { "MealType", "Breakfast" }, { "media", ViewData["media"] } })
        }
    }


    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultLunchMenuDetails, new ViewDataDictionary { { "MealType", "Lunch" }, { "media", ViewData["media"] } })

    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultDinnerMenuDetails, new ViewDataDictionary { { "MealType", "Dinner" }, { "media", ViewData["media"] } })

    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultOtherMenuDetails, new ViewDataDictionary { { "MealType", "Other" }, { "media", ViewData["media"] } })

</div>
}
else
{
    <div style="text-align: center;">No default menu</div>
}


