@model  HealthyChefCreationsMVC.CustomModels.ProgramDetailsViewModel

@*Program plan menu start*@
<div class="col-title">This Week's Menus@*Example Menu Your selected plan menu*@</div>
@if (Model.programdefaultmenudetails.Count > 0)
{
<div class="container" style="padding: 10px; margin:0;">
    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultBreakfastMenuDetails, new ViewDataDictionary { { "MealType", "Breakfast" } })

    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultLunchMenuDetails, new ViewDataDictionary { { "MealType", "Lunch" } });

    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultDinnerMenuDetails, new ViewDataDictionary { { "MealType", "Dinner" } });

    @Html.Partial("~/Views/Programs/_MealCarouselDispaly.cshtml", Model.DefaultOtherMenuDetails, new ViewDataDictionary { { "MealType", "Other" } });

</div>
}
else
{
    <div style="text-align: center;">No default menu</div>
}


