@model HealthyChefCreationsMVC.CustomModels.RegisterviewModel
@{ 
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" />
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Shipping Information</a></li>
        <li><a data-toggle="tab" href="#menu1">BillingInformation</a></li>
        <li><a data-toggle="tab" href="#menu2">Payment Information</a></li>
        <li><a data-toggle="tab" href="#menu3">Login Information</a></li>
    </ul>
    <div class="tab-content p-10">

        <div id="home" class="tab-pane fade in active">
            @{
                Html.RenderPartial("~/Views/Home/ShippingInfo.cshtml", Model.ShippinInfoModel);
             }
        </div>

        <div id="menu1" class="tab-pane fade">
            @{
                Html.RenderPartial("~/Views/Home/BillingInfo.cshtml", Model.BillingInfoModel);
             }
        </div>
        <div id="menu2" class="tab-pane fade">
            @{ 
                Html.RenderPartial("~/Views/Home/CreditCard.cshtml", Model.CreditCardInfoModel);
             }
        </div>
        <div id="menu3" class="tab-pane fade">
            @{
                 Html.RenderPartial("~/Views/Home/CreatePassword.cshtml", Model.PasswordModel);
             }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function SetBilling(checked) {
        
        if (checked)
        {
            document.getElementById('BillFirstName').value = document.getElementById('FirstName').value;
            document.getElementById('BillLastName').value = document.getElementById('LastName').value;
            document.getElementById('BillAddress1').value = document.getElementById('Address1').value;
            document.getElementById('BillAddress2').value = document.getElementById('Address2').value;
            document.getElementById('BillCity').value = document.getElementById('City').value;
            document.getElementById('States').value = document.getElementById('States').selected;
            document.getElementById('BillPostalCode').value = document.getElementById('PostalCode').value;
            document.getElementById('BillPhone').value = document.getElementById('Phone').value;
        }
        else
        {
            document.getElementById('BillFirstName').value = '';
            document.getElementById('BillLastName').value = '';
            document.getElementById('BillAddress1').value = '';
            document.getElementById('BillAddress2').value = '';
            document.getElementById('BillCity').value = '';
            document.getElementById('BillAddress2').value = '';
            document.getElementById('States').value = '';
            document.getElementById('BillPostalCode').value = '';
            document.getElementById('BillPhone').value = '';
        }
    }
</script>


<style type="text/css">
    #sidebar, #content .top, #slider, body.home-page #content .bottom {
        display: none;
    }

    body.home-page #content {
        width: 100% !important;
        padding: 20px !important;
        margin: 0px !important;
        background: #fff;
    }

    .form_submit {
        padding: 20px;
    }

    body.home-page #wrapper {
        background: none;
    }

    .wm-field {
        margin: 5px 0px;
        display: inline-block;
        width: 100%;
    }
    input, select, textarea {
        max-width: 210px;
    }
        .wm-field .col-md-6 {
            padding: 0px;
        }
    label {
        font-family: 'Fjalla One', sans-serif;
        font-weight: normal;
        font-size:15px;
    }
    a:hover , a:focus {
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }

    .nav-tabs li.active {
        /*border: 1px solid #d4ccb0;*/
        background: #fafaf4 url(images/ui-bg_highlight-hard_100_fafaf4_1x100.png) 50% 50% repeat-x;
        font-weight: bold;
        color: #459e00;
    }

        .nav-tabs li.active a {
            border: none;
            text-decoration: none;
        }

    .nav-tabs li {
        border: 1px solid #327E04;
        background: #67b021 url(images/ui-bg_highlight-soft_25_67b021_1x100.png) 50% 50% repeat-x;
        font-weight: bold;
        color: #fff;
        list-style: none;
        float: left;
        position: relative;
        top: 0;
        margin: 1px .2em 0 0;
        border-bottom-width: 0;
        padding: 0;
        white-space: nowrap;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        min-height: 40px;
    }

        .nav-tabs li a {
            color: #fff;
            text-decoration: none;
            font-family: 'Fjalla One', sans-serif;
            font-weight: normal;
            font-size: 15px;
        }

    .nav-tabs > li > a:hover {
        background: none;
        border: none;
        text-decoration: none;
    }
    .nav-tabs {
        border:none;
    }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px solid #ddd;
        }
</style>
