/* **************************  FormBuilder module ************************** */
.wm_FormBuilder label {
margin-right: 10px;
font-size: 12px;
width: 125px;
margin-top: 7px;
font-family: arial, helvetica, sans-serif;
font-size: 12px;
display: inline-block;
clear:both;
color: #333333;
}

.wm_FormBuilder .wm_ShortText {
margin-top: 7px;
clear: both;
}

.wm_FormBuilder .wm_Longtext {
clear: both;
height:100px; 
}

.wm_FormBuilder .wm_DropDownList {
clear: both;
}

.wm_FormBuilder .wm_DropDownListItem
{
}

.wm_FormBuilder .wm_RadioButton
{
}

.wm_FormBuilder .wm_RadioButtonListItem
{
}

.wm_FormBuilder .wm_Checkbox
{
}

.wm_FormBuilder .wm_CheckboxItem
{
}

.field, .field td input
{
    margin-top: 5px;
}

.field label,
.field span
{
    display: block;
    float: left;
    width: 200px;
    text-align: left;
    padding-right: 10px;
    font-weight: bold;
}
.field td label,
.field td span
{
    display: inline;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold; /* turn it normal, if you do not want checkbox texts*/
    float:none;
}
.field-inline, .field-inline td input
{
    margin-top: 5px;
}
.field-inline label,
.field-inline span
{
    display: block;
    float: none;
    width: 200px;
    text-align: left;
    padding-right: 10px;
    font-weight: bold;
}
.field-inline td label,
.field-inline td span
{
    display: inline;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    float:none;
}
/******************************************************************************
    .entity_edit
******************************************************************************/
.entity_edit td  {
    vertical-align: top;
}
.entity_edit .field {
    margin-top: .85em;
    margin-bottom: .85em;
}
/* all children (not descendants). broken in IE 6. */
.entity_edit .field > * {
}
.entity_edit .field .required {
	border-left: 1px solid red;
	padding-left: .25em;
}
.entity_edit .field .help {
	display: block;
	margin: .25em 0em;
}
.entity_edit .section {
	margin-top: 1em;
	margin-bottom: 1em;
}

