<?xml version="1.0" encoding="utf-8" ?>
<!-- optional attributes:
     Icon="~/WebModules/Menus/client/images/module.gif" 
-->
<Application Name="Menus"
    HasSettings="false" 
    Description=""
>
    <Modules>
        <!-- 
        Path="<absolute virtual path to the module directory>"
        
        ControlPath, AddPath, and EditPath may be relative to Path, or absolute.
        -->
        <Module Name="Menus"
            UserCanAddModule="false"
            Description=""
            Path="~/WebModules/Menus/" 
            ControlPath="Display.ascx"
            AddPath="Edit.aspx"
            EditPath="Edit.aspx"
        />
    </Modules>
</Application>
