<?xml version="1.0" encoding="utf-8" ?>
<Application Name="Localization" 
             HasSettings="true" 
             Icon="~/WebModules/Localization/images/world.png"
             Description="Manage culture codes and language translation patterns (&quot;keyword tokens&quot;)."
             >
</Application>