@model  HealthyChefCreationsMVC.CustomModels.FooterViewModel

<div id="footer">
    <div class="col-md-12">
        <div class="top-footer">
            @Html.Raw(Model.HtmlString)
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="text-center">
        <div class="copyright">
            @if (Request.IsSecureConnection)
            {
                <img src="https://verify.authorize.net/anetseal/images/secure90x72.gif" alt="Authorize.Net Merchant - Click to Verify" border="0" />
            }
            <p class="copy"><a href="/terms-and-conditions.aspx">Terms and Conditions</a>                     &nbsp;&nbsp;                     <a href="/privacy-statement.aspx">Privacy Policy</a></p>
            <p class="copy">Copyright @DateTime.Today.Year   Healthy Chef Creations</p>


            <div class="col-md-3">
                <script type="text/javascript">
                    !function () { var a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = "//configusa.veinteractive.com/tags/A08F77AF/E33F/46CC/A80B/924B9E1C4E4D/tag.js"; var b = document.getElementsByTagName("head")[0]; if (b) b.appendChild(a, b); else { var b = document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b) } }();
                </script>
            </div>
        </div>
    </div>
</div>