@model  HealthyChefCreationsMVC.CustomModels.FooterViewModel

<div id="footer">
    <div class="container text-center">
        <div class="fimage">
            <img src="/Content/Images/home/Healthy-Chef-Logo.png" class="img-responsive" style="margin:0 auto;" />
        </div>
        <div class="" style="margin-top:50px;padding:20px;">
            <ul class="list-inline links">
                <li><a href="/about-us.aspx">About Us</a></li>
                <li><a href="/about-us/our-food.aspx">Our Food </a></li>
                <li><a href="/about-us/why-healthy-chef-creations.aspx">Why Healthy Chef Creations</a></li>
                <li><a href="/order-now.aspx">Get Started</a></li>
            </ul>
        </div>

        <div class="links1" style="margin-top:50px;">
            <ul class="list-inline">
                <li><a href="/faqs.aspx">FAQS Us</a></li>
                <li><a href="/gift-certificates.aspx">Gift Certificates </a></li>

                <li><a href="/news/newsletters.aspx">Newsletter</a></li>
                <li><a href="/news/press.aspx">Press Releases </a></li>
                <li><a href="/news/testimonials.aspx">Testimonials  </a></li>
                <li><a href="/shareasale.cfm?merchantID=65905">Affiliate Program  </a></li>
            </ul>
        </div>

        <div class="links2" style="margin-top:50px;">
            <ul class="list-inline">
                <li>Copyright 2019 healthy Chef Creations</li>
                <li><a href="/terms-and-conditions.aspx">Terms and Conditions </a></li>

                <li><a href="/privacy-statement.aspx">Privacy Policy</a></li>

            </ul>
        </div>
    </div>
</div>