<?xml version="1.0"?>
<configuration>
 
  <location path="Admin/CustomerAccountBalance.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, EmployeeManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/SalesReport.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, EmployeeManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ActiveCustomers.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, EmployeeManager, EmployeeService" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
